@model Movies_MVC_6.Models.Movie

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <br />
    <br />
    <br />
    <h2 class="display-4 text-center text-white-50">Welcome to the place where you will find 
    <span class="text-danger">the</span>
    movie to watch</h2>
    <br />
    <br />
    <div class="row">
        <div class="col-12 bg-white">
            <img src="~/Images/Popcorn.PNG" />
        </div>
    </div>
</div>
